page-avatar-modal {
    .avatar-slide{
        padding: 20px 50px;
        img{
            width: 100%;
        }
    }
    .swiper-slide{
        font-size: inherit;
    }
    .swiper-slide, .slide-zoom{
        text-align: inherit;
    }
    .swiper-pagination-bullet{
        background: #fff;
    }

    .unavailable{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background: rgba(0,0,0,0.5);
        ion-icon{
            font-size: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

}
