<ion-content>

<div class="profile-container">
  <button ion-button clear color="light" icon-only menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <img height="125" src="assets/img/avatars/businessguru.png" alt="">
  <h1>Matt Chadder</h1>
  <p>CEO, Instinct Laboratory</p>
</div>

  <div padding>
    <ion-segment color="light" [(ngModel)]="section">
      <ion-segment-button value="swipe">
        Swipe dates
      </ion-segment-button>
      <ion-segment-button value="requests">
        Requests
      </ion-segment-button>
      <ion-segment-button value="dates">
        Your Dates
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="section">

    <div *ngSwitchCase="'swipe'">
      <p text-center style="margin-top: 0px; padding: 0px 16px;" *ngIf="firebase.users.length == dumped.length + dated.length">You're swiped out!</p>
      <div *ngIf="firebase.users.length !== dumped.length + dated.length">
        <p style="margin-top: 0px; padding: 0px 16px;" text-center>Swipe left or right to get dates with other Glimpsers. <strong>You have 3 requests left.</strong> If you don't match with anyone, your dates will be automatically selected.</p>
        <ion-list no-lines>
          <ng-container *ngFor="let date of firebase.users">
            <ion-item-sliding (ionDrag)="drag($event, date)" *ngIf="inList(date)">
              <ion-item>
                <ion-avatar item-left>
                  <img src="./assets/img/avatars/{{date.avatar}}">
                </ion-avatar>
                <h2>{{date.name}}</h2>
                <p>{{date.job}}, {{date.company}}</p>
              </ion-item>
              <ion-item-options side="left" style="background: #f53d3d;">
                <button ion-button color="danger">
                  <ion-icon name="heart"></ion-icon>
                  Date
                </button>
              </ion-item-options>
              <ion-item-options side="right" style="background: #32db64;">
                <button ion-button color="secondary">
                  <ion-icon name="trash"></ion-icon>
                  Dump
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ng-container>
        </ion-list>
      </div>
    </div>

    <ion-list *ngSwitchCase="'requests'">
      <ion-item>
        <p>Requests!</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'dates'">
      <ion-item>
        <p>Dates!</p>
      </ion-item>
    </ion-list>

  </div>

</ion-content>


